{% extends 'base.html' %}

{% block content %}
    <section class="shop container">
        <h2 class="section-title">Shop Products</h2>
        <!-- Content -->
        <div class="shop-content">
            <!-- Box -->
            <div class="product-box">
                <img src="" class="product-image" alt="">
                <h2 class="product-title"></h2>
                <span class="price">$</span>
                <a href="">
                    <i title="add to cart" class='bx bx-shopping-bag add-cart'></i>
                </a>
            </div>
        </div>
    </section>
{% endblock %}